@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
header{
  height: 60px;
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 5%;
}
header h1{
  margin: 0;
  color: #000;
  font-weight: 300;
  font-size: 24px;
}
.home{
  background: #fff;
  overflow: overlay;
}
.page{
  width: 100%;
  background: #fff;
  padding-top: 50px;
  position: relative;
  z-index: 100;
}
.page span{
  float: left;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 10%;
  color: #fff
}
.page img{
  width: 80%;
  margin: 0 10%;
}
.page h2{
  margin: 0;
}
.page p{
  margin: 0;
}
.content{
  background: #FAFAFA;
}
.page.landing{
  padding-top: 20px;
}
.cta{
  width: 80%;
  margin: 50px auto;
}
.cta .cta-header img{
  width: 300px;
  margin: 0;
}
.cta .cta-body p{
  margin: 40px 0;
}
.cta .cta-body .social-icons{
  width: 162px;
}
.cta .cta-body .social-icons img{
  width: 24px;
  height: 24px;
  margin: 0;
  margin-right: 30px;
}
.cta .cta-body button{
  margin: 40px 0;
  width: 162px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  background: #4180f4;
  color: #fff;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 100;
  outline: 0;
  cursor: pointer;
  transition: opacity .5s ease;
}
.cta .cta-body button:hover{
  opacity: .8;
}
.camuro{
  background: #FFBA4A;
}
.abundant{
  background: #e9f3d9;
}
.freedash{
  background: #4A4A4A;
}
.skill{
  background: #4180F4;
  padding-bottom: 50px;
}
.icons{
  width: 80%;
  max-width: 998px;
  min-width: 400px;
  margin: 0 auto;
}
/* .icon {
  display: inline-block;
  width: 20%;
  margin: 40px 20px 0 0;
}
.icon span{
  color: #fff;
  line-height: 16px;
  font-weight: 100;
  font-size: 18px;
  margin-left: 10px;
  opacity: 0;
  transition: opacity .2s ease-in-out;
} */
/* .icon img{
  transition: all .2s ease-in-out;
}
.icons img:hover{
  transform: scale(1.1);
} */

.passion{
  width: 100%;
  padding-top: 0px;
  position: relative;
  z-index: 100;
}
.contact{
  background: #FAFAFA;
  padding-bottom: 50px;
}
.contact .form{
  width: 80%;
  margin: 0 auto;
}
.contact .form .form-group-container{
  width: 80%;
  margin: 0 auto;
}
.contact .form .form-group-container input, textarea{
  color: #3E2C28;
  padding: 0 10px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.contact .form .form-group-container label{
  text-align: left;
  color: #565656;
  float: left;
  padding: 5px 0;
}

@media (min-width: 990px) {
  .content .page.landing{
    position: fixed;
    width: 40%;
    padding-left: 40px;
    box-sizing: border-box;
    height: 100%;
    z-index: 200;
  }
  .content .page, .passion{
    width: 60%;
    float: right
  }
}



/* .splash-background{
  height: 700px;
  width: 100%;
  background: #000;
  position: absolute;
}
.home-bg{
  background-color: #fff;
  background-size: cover;
  width: 100%;
  position: absolute;
  transform:translate3d(0, 0, 0.1);
  transition: opacity 2s .3s;
  will-change: transform;
  opacity: 0;
}
.home-bg.visible{
  opacity: 1;
}
.home-cta{
  width: 90%;
  text-align: left;
  margin: 0 5%;
  height: 700px;
  box-sizing: border-box;
  padding-top: 40px;
  position: relative;
} */
